.projectDetails{
    text-align: center;
    &__title {
        text-align: center;
    }
    &__image{
        width: 100%;
        padding: 1rem;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
    
    &__back {
        background-color: red;
        border: none;
        outline: none;
        color: white;
        width: 75px;
        padding: .5rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
    }
    &__home {
        @extend .buttons__back;
        background-color: yellow;
        color: black;
    }
}